
.piano-key {
    color:black;
    background-color: white;
    width: 12px;
    height: 32px;
}

.piano-key-black {
    background-color: black;
    width: 7px;
    height: 24px;
}

.piano-key-selected {
    background-color: red;
    color: white;
}
