<h3>Piano</h3>

@*Keys*@
<div class="piano-key-container">
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.A0" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.BB0" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.B0" />

    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.C1" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.DB1" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.D1" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.EB1" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.E1" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.F1" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.GB1" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.G1" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.AB1" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.A1" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.BB1" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.B1" />

    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.C2" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.DB2" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.D2" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.EB2" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.E2" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.F2" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.GB2" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.G2" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.AB2" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.A2" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.BB2" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.B2" />

    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.C3" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.DB3" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.D3" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.EB3" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.E3" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.F3" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.GB3" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.G3" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.AB3" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.A3" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.BB3" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.B3" />

    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.C4" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.DB4" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.D4" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.EB4" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.E4" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.F4" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.GB4" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.G4" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.AB4" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.A4" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.BB4" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.B4" />

    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.C5" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.DB5" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.D5" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.EB5" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.E5" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.F5" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.GB5" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.G5" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.AB5" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.A5" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.BB5" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.B5" />

    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.C6" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.DB6" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.D6" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.EB6" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.E6" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.F6" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.GB6" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.G6" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.AB6" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.A6" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.BB6" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.B6" />

    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.C7" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.DB7" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.D7" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.EB7" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.E7" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.F7" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.GB7" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.G7" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.AB7" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.A7" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.BB7" />
    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.B7" />

    <PianoKey @ref="KeyRef" OnClicked="OnKeyClicked" Tone="Tone.C8" />
</div>

@*Audio Channels*@
<audio id="a1" autoplay>
    <source id="a1-src" src="" />
</audio>

<audio id="a2" autoplay>
    <source id="a2-src" src="" />
</audio>

<audio id="a3" autoplay>
    <source id="a3-src" src="" />
</audio>

<audio id="a4" autoplay>
    <source id="a4-src" src="" />
</audio>

<audio id="a5" autoplay>
    <source id="a5-src" src="" />
</audio>

<audio id="a6" autoplay>
    <source id="a6-src" src="" />
</audio>

<audio id="a7" autoplay>
    <source id="a7-src" src="" />
</audio>

<audio id="a8" autoplay>
    <source id="a8-src" src="" />
</audio>

<audio id="a9" autoplay>
    <source id="a9-src" src="" />
</audio>

<audio id="a10" autoplay>
    <source id="a10-src" src="" />
</audio>

<audio id="a11" autoplay>
    <source id="a11-src" src="" />
</audio>

<audio id="a12" autoplay>
    <source id="a12-src" src="" />
</audio>

<audio id="a13" autoplay>
    <source id="a13-src" src="" />
</audio>

<audio id="a14" autoplay>
    <source id="a14-src" src="" />
</audio>