
<div style="@CreateShelfItemStyle()" class="dz-shelf-item" @onclick=OnItemClick>

    <img src="@BackgroundImage" width="@Shelf.ItemWidth" height="@Shelf.ItemHeight" />

    <div class="dz-shelf-item-content">

        @ChildContent

    </div>

</div>

@code {

    [CascadingParameter]
    protected internal DZShelf Shelf { get; set; }

    [Parameter]
    public string BackgroundImage { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Inject]
    private CSSBuilder _cssBuilder { get; set; }

    private string CreateShelfItemStyle()
        => _cssBuilder.Create()
            .SetHeight(Shelf.ItemHeight)
            .SetWidth(Shelf.ItemWidth)
            .Build();

    private async Task OnItemClick()
        => await OnClick.InvokeAsync();
}
