
<div style="@CreateShelfStyle()">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {

    [Parameter]
    public int ItemHeight { get; set; }

    [Parameter]
    public int ItemWidth { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Inject]
    private CSSBuilder _cssBuilder { get; set; }

    private string CreateShelfStyle()
        => _cssBuilder.Create()
            .SetDisplay(CSSDisplay.Flex)
            .SetOverflow(CSSOverflow.Hidden)
            .SetMargin(new Spacing(30, 60, 0, 60, CSSSize.Normal))
            .Build();
}
