
<div class="dz-hover" style="@CreateButtonStyle()" @onclick=OnButtonClick>
    <DZText Color=ThemeColor.Primary><b>@Text</b></DZText>
</div>

@code {
    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Inject]
    private CSSBuilder _cssBuilder { get; set; }

    private async Task OnButtonClick()
        => await OnClick.InvokeAsync();

    private string CreateButtonStyle()
        => _cssBuilder.Create()
            .SetBackground(ThemeColor.Primary, CSSOpacity.P10)
            .SetBorder(5, 0, ThemeColor.Primary, CSSOpacity.P10)
            .SetPadding(new Spacing(10))
            .SetTextAlignment(CSSAlignment.Center)
            .SetCursor(CSSCursor.Pointer)
            .Build();
}
