<a href=@Href style="@CreateLinkStyle()">
    <b>
        @ChildContent
    </b>
</a>

@code {
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public ThemeColor Color { get; set; } = ThemeColor.Primary;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Inject]
    private CSSBuilder _cssBuilder { get; set; }

    private string CreateLinkStyle()
        => _cssBuilder.Create()
            .SetColor(Color)
            .Build();
}
