
.trade-card {
    width: 225px;
    height: 100%;
    opacity: 1.0;
}

.trade-card:hover {
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
}

.trades-container {
    display: flex;
    flex-direction: row;
}

.trades-container-item-small {
    width: 20%;
}

.trades-container-item-tall {
    width: 60%;
}
