@page "/trades"

<div class="gap" style="display: flex; flex-direction: row">

    @* List  *@
    <div class="trade-list">
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Release</th>
                </tr>
                </thead>
                <tbody>

                @foreach (var call in _data)
                {
                    <tr @onclick="@(() => OnCallClicked(call))">
                        <td>@call.Id</td>
                        <td>@call.Symbol</td>
                        <td>@call.Company</td>
                        <td>
                            @if (call.IsReleased)
                            {
                                <span>✅</span>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    @* Detail View *@
    <div class="trade-call">
        <EarningCall Data="_selected"/>
    </div>

</div>