
.trade-card {
    width: 100%;
    height: 100%;
    opacity: 1.0;
}

.trade-card:hover {
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
}

.trade-card-body {
    height: 100%;
    justify-content: space-between;
}

.generation-frame {
    /*display: none;*/
}

.trades-container {
    display: flex;
    flex-direction: row;
}

.trades-container-item-small {
    width: 25%;
}

.trades-container-item-tall {
    width: 75%;
}