
<div class="card-body-sidebar-content">

    <CardContent>
        @ChildContent
    </CardContent>

    <div class="card-body-sidebar">
        <img src="@ImageUrl" width="50" />
    </div>

</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? ImageUrl { get; set; }
}
