
<Panel Padding="0" Width="@Width" UseAsSurface=true>

    <div class="card-wrapper" @onclick="(_ => OnClick.InvokeAsync())">

        <div class="card-header-container">
            <img src="@ImageUrl"/>
            @if (Highlight)
            {
                <span>star</span>
            }
        </div>

        <div class="card-body">
            <span class="card-body-title">@Title</span>
            @ChildContent
        </div>

    </div>

</Panel>