
<div class="flex-row gap surface">

    <div class="horizontal-card" @onclick="(_ => OnClick.InvokeAsync())">

        <div class="horizontal-card-header">

            <img src="@ImageUrl" alt="Preview" loading="lazy" />

            @if (Highlight)
            {
                <i class="horizontal-card-header-highlight fa-solid fa-star"></i>
            }

        </div>

        <div class="horizontal-card-body">

            <span class="horizontal-card-body-title">@Title</span>

            @ChildContent

        </div>

    </div>

</div>