
.vertical-card {
    width: 100%;
    height: 100%;
    opacity: 1.0;
}

    .vertical-card:hover {
        opacity: 0.8;
        transition: opacity 0.1s ease-in-out;
    }

.vertical-card-header {
    display: flex;
    position: relative;
}

.vertical-card-header img {
    width: 300px;
    height: 160px;
}

.vertical-card-header-highlight {
    position: absolute;
    top: 16px;
    left: 16px;
    color: var(--theme-warning);
    font-size: xx-large;
    font-weight: 900
}

.vertical-card-body {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.vertical-card-body-title {
    font-size: large;
    font-weight: bold;
}

@media (max-width: 640.98px) {

    .vertical-card-grid {
        grid-template-columns: repeat(auto-fill, 100%) !important;
    }

    .vertical-card-header img {
        width: 100%;
    }

}
