
<div class="flex-row gap surface">

    <div class="vertical-card" @onclick="(_ => OnClick.InvokeAsync())">

        <div class="vertical-card-header">

            <img src="@ImageUrl" alt="Preview" loading="lazy" />

            @if (string.IsNullOrWhiteSpace(CoverText) == false)
            {
                <span class="vertical-card-header-highlight">@CoverText</span>
            }

        </div>

        <div class="vertical-card-body">

            <span class="vertical-card-body-title">@Title</span>

            @ChildContent

        </div>

    </div>

</div>