
.blog {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.blog-card {
    display: flex;
    padding-top: 8px;
    justify-content: space-between;
}

.blog-card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blog-card-author {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-card-author img {
    width: 50px;
    border-radius: 50px;
}

.blog-gap
{
    gap: 12px;
}

.blog-menu-container  {
    display: flex;
    flex-wrap: wrap;
}

.blog-menu-container-element  {
    display: flex;
    align-items: center;
    font-size: large;
    background-color: var(--theme-surface);
    border-radius: 4px;
    padding: 6px;
}