@using dominikz.dev.Components.Buttons

<div class="preview-wrapper">
    <img class="preview" src="@File.DataAsPath" alt="Preview"/>
    @* <div class="preview-ctrls"> *@
    @*     <IconButton Icon="fa-solid fa-xmark"/> *@
    @* </div> *@
</div>