.preview-wrapper {
    position: relative;
}

.preview-ctrls {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 12px;
}

.preview {
    height: 100px;
    width: auto;
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px;
}