.song-lane {
    height: 2px;
    background-color: darkgray;
    width: 50px;
}

.song-lane-empty {
    height: 2px;
    width: 50px;
}

.song-lane-help {
    height: 2px;
    background-color: slategray;
    width: 50px;
}

.song-lane-selected {
    background-color: red;
}

.song-lane-info {
    font-size: xx-small;
}

.note-input {
    width: 70px;
}