@using dominikz.Client.Utils
<div class="carousel-wrapper">

    <button class="carousel-arrow" id="carousel-arrow-prev" @onclick="OnPrevClicked">
        &#8249;
    </button>

    <button class="carousel-arrow" id="carousel-arrow-next" @onclick="OnNextClicked">
        &#8250;
    </button>

    <div class="carousel-container" id="carousel-container">
        @foreach (var media in Data)
        {
            <div class="carouselitem">
                <div class="carouselitem-container">

                    <div class="carouselitem-thumbnail-ambilight">
                        <img src="@media.ImageUrl" class="carouselitem-thumbnail-image"/>
                        <img src="@media.ImageUrl" class="carouselitem-thumbnail-light"/>
                    </div>

                    <div class="carouselitem-container-content">
                        <span class="carouselitem-container-title">@media.Title</span>
                        <div class="carouselitem-container-subtitle">
                            @if (media.PublishDate != null)
                            {
                                <span>🕑 @(media.PublishDate.Value.ToString("yyyy-MM-dd"))</span>
                            }
                            else
                            {
                                <span>DRAFT</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>