@if (_selected)
{
    <div style="@CreateItemStyle()">
        <DZGrid Spacing=5 Wrap=false>
            <DZGridItem>
                <img src="@Image" style="@CreateImageStyle()" @onclick=OnItemClick />
            </DZGridItem>
            <DZGridItem>
                @ChildContent
            </DZGridItem>
        </DZGrid>
    </div>
}

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Image { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [CascadingParameter]
    protected internal DZSlideshow Parent { get; set; }

    [Inject]
    private CSSBuilder _cssBuilder { get; set; }

    private bool _selected;

    protected override void OnInitialized()
    {
        if (Parent != null)
        {
            Parent.OnSelectedItemChanged += OnSelectedItemChanged;
            Parent.AddItem(this);
        }
    }

    private string CreateItemStyle()
        => _cssBuilder.Create()
            .SetWidthInPercent(100)
            .Build();

    private string CreateImageStyle()
        => _cssBuilder.Create()
            .SetHeightInEM(15)
            .Build();

    private void OnSelectedItemChanged(object sender, EventArgs args)
    {
        _selected = Parent?.SelectedItem == this;
    }

    private async Task OnItemClick()
        => await OnClick.InvokeAsync();
}