.toast {
    display: none;
    padding: 1rem;
    color: whitesmoke;
    z-index: 1;
    position: absolute;
    width: 20rem;
    bottom: 2rem;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.toast-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
}

.toast-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1rem;
}

.toast-body p {
    margin: 0;
    padding: 0;
}

.toast-visible {
    display: flex;
    flex-direction: row;
    animation: fadein 1s;
}

.bg-success {
    background-color: var(--theme-success);
}

.bg-info {
    background-color: var(--theme-surface);
}

.bg-warning {
    background-color: var(--theme-warning);
}

.bg-danger {
    background-color: var(--theme-error);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}