<div class="toast @(_isVisible ? "toast-visible" : null) @_backgroundCssClasses">
    <div class="toast-icon">
        <i class="fa fa-@_iconCssClasses" aria-hidden="true"></i>
    </div>
    <div class="toast-body">
        <p><b>@_heading</b></p>
        <p>@_message</p>
    </div>
</div>