
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 12px;
}

@media (max-width: 600px) {

    .card-grid {
        width: 100%;
        grid-template-columns: repeat(auto-fill, 100%)!important;
    }
}
