@typeparam T

<select @bind="Selected" @oninput="CallSelectedChanged">
    @* ReSharper disable once RedundantCast *@
    @if (string.IsNullOrWhiteSpace(Placeholder) == false)
    {
        <option value="@((T?)null)" disabled selected>@Placeholder</option>
    }
    
    @foreach (var value in Values)
    {
        <option value="@value">@(TextAccessor(value))</option>
    }
</select>