
.nutriscore-letter {
    padding: 8px;
    font-size: large;
    border-radius: 8px;
}

.nutriscore-letter-A {
    background-color: #388f44;
}

.nutriscore-letter-B {
    background-color: #7cd300;
}

.nutriscore-letter-C {
    background-color: #ead400;
}

.nutriscore-letter-D {
    background-color: #de7b0b;
}

.nutriscore-letter-E {
    background-color: #d83a27;
}

.nutriscore-letter-disabled {
    opacity: 0.4;
}

.nutriscore-letter-enabled {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}