
<div class="rating">

    @if (ShowValue)
    {
        <span>(@(Value))&nbsp;</span>    
    }
    
    <div class="rating-stars">
        @for (int i = 0; i < FullStars; i++)
        {
            <i class="fa-solid fa-star"></i>
        }

        @if (HalfStar)
        {
            <i class="fa-solid fa-star-half-stroke"></i>
        }

        @for (int i = 0; i < EmptyStars; i++)
        {
            <i class="fa-regular fa-star"></i>
        }
    </div>

</div>