
<div class="flex-row gap">
    <div>
        <NumberPicker Value="@Time.Hours" ValueChanged="CallHourChanged"/>
        <span>Hour(s)</span>
    </div>
    
    <div class="small">
        <NumberPicker Value="@Time.Minutes" ValueChanged="CallMinutesChanged"/>
        <span>Minute(s)</span>
    </div>
    
</div>