
.timeline {
    position: relative;
    max-width: 800px;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px;
    border-left: 2px solid #ccc;
}

.timeline-event {
    position: relative;
    padding: 20px 0;
    margin: 20px 0;
}

.timeline-event-date {
    position: absolute;
    top: 30%;
    left: 30px;
    transform: translateX(-50%);
    border-radius: 60px;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.timeline-event-content {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.image-placeholder {
    
}