
<div class="collection-bar-wrapper">

    <div class="collection-container-item">
        <Searchbox OnChanged="OnSearchChanged" />
    </div>

    <div class="collection-container">

        <div class="collection-container-item">
            <IconButton @ref="_gridBtn"
                        IsSelectable=true
                        OnClick="CallOnViewChanged"
                        Icon="fa-solid fa-grip" />

            <IconButton @ref="_tableBtn"
                        IsSelectable=true
                        OnClick="CallOnViewChanged"
                        Icon="fa-solid fa-list" />
        </div>

        @if (OrderKeys.Count > 0)
        {
            <div class="collection-container-item">
                <IconButton OnClick="CallOnOrderDirectionChanged" Icon="fa-solid fa-up-down" />
                <ComboBox Values="OrderKeys" OnChange="CallOnOrderKeyChanged" />
            </div>
        }
    </div>

</div>