
.icon-container {
    width: 46px;
    height: 46px;
    display: flex;
    opacity: 1.0;
    transition: opacity 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
    background-color: var(--mdc-theme-background);
    border-radius: 25px;
    margin-left: 3px;
    margin-right: 3px;
}

    .icon-container:hover {
        opacity: 0.6;
        transition: opacity 0.2s ease-in-out;
    }
/*
.icon-container :hover {
    opacity: 0.7;
    background-color: var(--mdc-theme-primary);
}
*/
.icon {
    width: 30px;
    height: 30px;
}

@media (max-width: 400px) {
    .icon-container {
        display: none;
    }
}