@using dominikz.dev.Components.Buttons

<div class="appbar">
    <div class="appbar-title">
        <span @onclick="CallOnExpandClicked" class="appbar-menu fa-solid fa-bars"></span>
        <span>dominikzettl.dev</span>
    </div>

    <div class="appbar-buttons">
        <IconButton OnClick="@(() => NavigationManager!.NavigateTo("/imprint"))" Icon="fa-solid fa-scale-balanced"/>
        <IconButton OnClick="@(OnLoginClicked)" Icon="fa-solid fa-right-to-bracket"/>
    </div>
</div>