@using MatBlazor

<MatAppBar Fixed="true">
    <MatAppBarRow Style="background-color: var(--mdc-theme-surface)">
        <MatAppBarSection>
            <MatIconButton Icon="menu" OnClick="ToggleSidebar"></MatIconButton>
            <MatAppBarTitle>dominikzettl.dev</MatAppBarTitle>
        </MatAppBarSection>
        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
            <div class="icon-container">
                <img class="icon" src="resources\github_icon.png" />
            </div>

            <div class="icon-container">
                <img class="icon" src="resources\nuget_icon.png" />
            </div>

            <div class="icon-container">
                <img class="icon" src="resources\stackoverflow_icon.png" />
            </div>

            <div class="icon-container">
                <img class="icon" src="resources\xing_icon.png" />
            </div>
        </MatAppBarSection>
    </MatAppBarRow>
</MatAppBar>

<MatAppBarContent>
    @ChildContent
</MatAppBarContent>