
.appbar {
    background-color: var(--theme-surface);
    padding: 8px;
    font-size: x-large;
    position: fixed;
    z-index: 999;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.appbar-menu {
    padding-left: 15px;
}

    .appbar-menu:hover {
        transition: ease-in-out 0.1s;
        opacity: 0.6;
    }
