
<div class="appmenue @(IsExpanded ? "appmenue-expanded" : "appmenue-collapsed")">

    <NavLink href="/" Match="NavLinkMatch.All">
        <span class="fa-solid fa-home"></span>
        @if (IsExpanded)
        {
            <span class="appmenue-entry-text">Home</span>
        }
    </NavLink>

    @foreach (var entry in _pages)
    {
        <NavLink href="@entry.Url" Match="NavLinkMatch.Prefix">
            <span class="fa-solid @entry.Icon"></span>
            @if (IsExpanded)
            {
                <span class="appmenue-entry-text">@entry.Title</span>
            }
        </NavLink>
    }

</div>