
<div class="icon-button-wrapper @(IsSelected ? "icon-button-selected" : string.Empty)" @onclick="(() => CallOnClick())">
    <span class="@Icon fa-lg"></span>
    @if (!string.IsNullOrWhiteSpace(Text))
    {
        <spanc class="icon-button-text">@Text</spanc>
    }
</div>

@code {

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public EventCallback<Guid> OnClick { get; set; }

    [Parameter]
    public bool IsSelectable { get; set; }

    public bool IsSelected { get; private set; }
    public Guid Id { get; } = Guid.NewGuid();

    public void Select()
    {
        IsSelected = true;
        StateHasChanged();
    }

    public void DeSelect()
    {
        IsSelected = false;
        StateHasChanged();
    }

    private async Task CallOnClick()
    {
        await OnClick.InvokeAsync(Id);

        if (IsSelectable == false)
            return;

        IsSelected = !IsSelected;
        StateHasChanged();
    }
}
