@using dominikz.dev.Theme
@inherits LayoutComponentBase

<PageTitle>dominikz.dev</PageTitle>

<ThemeProvider ClassByUrlChanged="OnClassByUrlChanged" />

<div class="page @_classByUrl">

    <AppBar OnExpandClicked="OnExpandClicked" />

    <div class="content">

        <AppMenue IsExpanded="IsMenuOpen" />

        <div class="main">
            @Body
        </div>

    </div>

</div>