
.panel-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

@media (max-width: 600px) {
    .panel-wrapper {
        width: 100% !important;
    }
}

.panel-surface {
    border-radius: 5px;
    background-color: var(--mdc-theme-surface);
    margin: 4px;
}
