
<div class="serachbox-wrapper">

    <div class="serachbox-icon">
        <MatIcon Icon="search" />
    </div>

    <input type="text" placeholder="Search.." @bind="_value" @bind:event="oninput" @onkeyup="CallOnChanged" />

</div>