@page "/imprint"

<p>
    This website does not fall under any guidelines of <a href="https://www.gesetze-im-internet.de/tmg/__5.html">ยง5 TMG</a>. <br/>
    No cookies or other technologies are used to store or identify users and their data. <br/>
    For urgent matters, please contact: info@dominikzettl.dev
</p>