
.dz-shelf-item-content {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    bottom: 0;
    height: 0px;
    width: 100%;
    transition: height 0.4s ease-in-out;
}

.dz-shelf-item {
    display: flex;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

    .dz-shelf-item:not(:first-child) {
        margin-left: -50px;
    }

    .dz-shelf-item:hover {
        transform: translateY(-20px);
        transition: 0.4s ease-out;
    }

        .dz-shelf-item:hover .dz-shelf-item-content {
            height: 80%;
        }

        .dz-shelf-item:hover ~ .dz-shelf-item {
            position: relative;
            left: 50px;
            transition: 0.4s ease-out;
        }
