
.chip {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: black;
    background-color: var(--theme-onsecondary);
    transition: ease-in-out 0.1s;
    border-radius: 25px;
    text-align: center;
}

    .chip:hover {
        background-color: var(--theme-secondary);
        transition: ease-in-out 0.1s;
    }

    .chip span {
        white-space: pre;
        cursor: default;
        line-height: 25px;
    }
