
.chip-selection-title {
    background-color: var(--theme-surface);
    border-radius: 4px;
    padding: 8px;
}

.chip-selection-expand {
    background-color: var(--theme-surface);
    border-radius: 25px;
    padding: 8px;
}

.chip-selection-expand:hover {
    opacity: 0.8;
    transition: ease-in-out, 0.1s;
}