@if (_editMode == false && Value is not null)
{
    <div class="display-chip" @onclick="OnClick">
        <span>@Value</span>
    </div>
}
else if (_editMode)
{
    <div class="edit-chip">
        <TextBox @bind-Value="Value" 
                 Placeholder="..." 
                 LostFocus="OnLostFocus"
                 ForceFocusAfterRender="true"/>
    </div>
}
else
{
    <div class="add-chip" @onclick="OnClick">
        <span>+</span>
    </div>
}