
.appmenue {
    position: fixed;
    margin-top: 60px;
    height: 100%;
    background-color: var(--theme-surface);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: width .05s linear;
    z-index: 999;
}

.appmenue-entry-text {
    padding-left: 16px;
}

.appmenue-collapsed {
    text-align: center;
}

.appmenue-expanded {
    align-items: flex-start;
}

@media (max-width: 640.98px) {

    .appmenue-collapsed {
        width: 0px;
        padding: 0px;
        overflow: hidden;
    }

    .appmenue-expanded {
        width: 100%;
    }
}

@media (min-width: 641px) {

    .appmenue-collapsed {
        width: 65px;
    }

    .appmenue-expanded {
        width: 200px;
    }
}
