
.background {
    background-color: var(--theme-background);
}

.content {
    display: flex;
    height: 100%;
    position: relative;
}

.main {
    margin-top: 60px;
    width: 100%;
    padding: 8px;
    position: absolute;
    top: 0;
    left: 0;
}

.scroll-to-top-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

@media (min-width: 641px) {

    .main {
        padding-left: 73px;
    }
}
