@inherits LayoutComponentBase
@using dominikz.Client.Theme

<PageTitle>dominikz.dev</PageTitle>

<ThemeProvider/>

<Toast/>

<div>

    <AppBar OnExpandClicked="OnExpandClicked"/>

    <div class="background"></div>

    <div class="content">

        <AppMenue IsExpanded="_isMenuOpen"/>

        <div class="main">
            @Body
        </div>

    </div>

</div>