
<div class="icon-button @ConcatClasses()" @onclick="(CallOnClick)">

    <i class="@Icon"></i>

    @if (!string.IsNullOrWhiteSpace(Text))
    {
        <spanc class="icon-button-text">@Text</spanc>
    }

</div>
