
button {
    width: 100%;
    background-color: var(--theme-surface);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
}


button:hover {
    background-color: var(--theme-onprimary);
    transition: ease-in-out 0.1s;
}

.selected {
    background-color: var(--theme-onprimary);
}
