@page "/blog"
@using dominikz.kernel.ViewModels

<PageTitle>Blog</PageTitle>

<Searchbox OnChanged="@OnSearchChanged" />

<ChipFilter TEnum="ArticleCategoryEnum" OnChanged="@OnCategoryChanged" />

<div class="blog-articles">
    @foreach (var featureAarticle in _featureArticles)
    {
        <BlogArticleCard Width="350" Data="featureAarticle" OnClick="() => NavigateToDetail(featureAarticle.Id)" />
    }
</div>

<div class="blog-articles">
    @foreach (var filterArticle in _filteredArticles)
    {
        <BlogArticleCard Width="300" Data="filterArticle" OnClick="() => NavigateToDetail(filterArticle.Id)" />
    }
</div>