@page "/blog"

<PageTitle>Blog</PageTitle>

<div class="serachbox">
    <div class="serachbox-icon">
        <MatIcon Icon="search" />
    </div>
    <input type="text" placeholder="Search.." @bind="_search" @bind:event="oninput" @onkeyup="OnFilterChanged" />
</div>

<MatChipSet Choice="true" @bind-SelectedChip="_category">
    @foreach (var category in _categories)
    {
        <MatChip @onclick="OnFilterChanged" Label="@category"></MatChip>
    }
</MatChipSet>

<div class="blog-articles">
    @foreach (var featureAarticle in _featureArticles)
    {
        <Article Width="350" Data="featureAarticle" OnClick="() => NavigateToDetail(featureAarticle.Id)" />
    }
</div>

<div class="blog-articles">
    @foreach (var filterArticle in _filteredArticles)
    {
        <Article Width="300" Data="filterArticle" OnClick="() => NavigateToDetail(filterArticle.Id)" />
    }
</div>