@page "/media"
@using dominikz.kernel.ViewModels

<PageTitle>Media</PageTitle>

<MediaCarousel Data="_preview" />

<Searchbox OnChanged="@OnSearchChanged" />

<ChipFilter TEnum="MediaCategoryEnum" OnChanged="@OnCategoryChanged" />

<MatDivider />

@if (_category != MediaCategoryEnum.ALL)
{
    <ChipFilter TEnum="MediaGenre" Values="_genresByCategory[_category]" OnChanged="@OnGenreChanged" />
}

<div class="media-content">
    @foreach (var media in _media)
    {
        <MediaCard Data="media" ShowCategory="@(_category != MediaCategoryEnum.ALL)" Width="250" Height="150" />
    }
</div>