
.icon-button {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 5px;
    text-align: center;
}

.icon-button-rounded {
    border-radius: 70px;
}

    .icon-button:hover {
        background-color: var(--theme-onprimary);
        transition: ease-in-out 0.1s;
    }

.icon-button-selected {
    background-color: var(--theme-onprimary);
}

.icon-button-disabled {
    opacity: 0.6;
}
