
.select-wrapper {
    width: 100%;
}

.select-wrapper select, textarea,
.select-wrapper select, textarea :hover,
.select-wrapper select, textarea :focus,
.select-wrapper select, textarea :active {
    background-color: var(--theme-surface);
    color: whitesmoke;
    box-shadow: none;
    border: none;
    outline: none !important;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
}
