
<div class="dz-hover fullWidthOnMobileWithoutBorder" style="@CreateNavlinkStyle()" @onclick=NavigateTo>
    <DZGrid ItemAlgin=CSSAlignment.Center>

        @if (!string.IsNullOrWhiteSpace(Icon))
        {
            <DZIcon Icon=@Icon />
            <DZSpacer Spacing=3 Style=SpacingStyle.LeftAndRight />
        }
        <DZText>@Text</DZText>
    </DZGrid>
</div>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Inject]
    private CSSBuilder _cssBuilder { get; set; }

    [Inject]
    private NavigationManager _navMgr { get; set; }

    private string CreateNavlinkStyle()
        => _cssBuilder.Create()
            .SetMargin(new Spacing(5))
            .SetPadding(new Spacing(5))
            .Build();

    private string CreateSpacerStyle()
        => _cssBuilder.Create()
            .SetMargin(new Spacing(0, 3, CSSSize.Normal))
            .Build();

    private void NavigateTo()
        => _navMgr.NavigateTo(Href);
}
