
html, body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    height: 100%;
    background-color: var(--theme-background);
    color: whitesmoke;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

/*nav menue styles (cant access in appmenue compeonent)*/

#app {
    height: 100%;
}

.appmenue a {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
}

    .appmenue a:hover {
        background-color: var(--theme-onprimary);
        transition: ease-in-out 0.1s;
    }

.active {
    background-color: #5f7d8f;
}


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-display: block;
    src: url("../webfonts/Roboto-Regular.ttf") format("truetype");
}
