
html, body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    height: 100%;
    background-color: var(--theme-background);
    color: whitesmoke;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

/*nav menue styles (cant access in appmenue compeonent)*/

#app {
    height: 100%;
}

.appmenue a {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
}

.appmenue a:hover {
    background-color: var(--theme-onprimary);
    transition: ease-in-out 0.1s;
}

.active {
    background-color: #5f7d8f;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-display: block;
    src: url("../webfonts/Roboto-Regular.ttf") format("truetype");
}
