
.card {
    width: 100%;
    height: 100%;
    opacity: 1.0;
}

.card:hover {
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
}

.card-header {
    display: flex;
    position: relative;
}

.card-header img {
    width: 300px;
    height: 160px;
    object-fit: cover;
}

.card-header-cover {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: xx-large;
    font-weight: 900;
    background-color: var(--theme-surface);
    padding: 4px 8px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.card-header-cover img {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.card-body-title {
    font-size: large;
    font-weight: bold;
}

@media (max-width: 640.98px) {

    .card-grid {
        grid-template-columns: repeat(auto-fill, 100%) !important;
    }

    .card-header img {
        width: 100%;
    }

}
