.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.flex-row-no-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.avatar-placeholder {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    border-radius: 50px;
    justify-content: center;;
}

.avatar-placeholder span {
    padding: 27%;
    font-weight: bold;
    font-size: large;
}

.gap
{
    gap: 12px;
}

.spacing
{
    padding: 12px;
}

.large-gap
{
    gap: 24px;
}

.surface
{
    border-radius: 5px;
    background-color: var(--theme-surface);
    overflow: hidden;
}

.menu-element  {
    display: flex;
    align-items: center;
    font-size: large;
    background-color: var(--theme-surface);
    border-radius: 4px;
    padding: 6px;
}

.admin-menu-element  {
    display: flex;
    align-items: center;
    font-size: large;
    background-color: var(--theme-warning);
    border-radius: 4px;
    padding: 6px;
}

.tooltip {
    position: relative;
}

.tooltip .tooltip-text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    font-size: medium;
    font-weight: normal;
    z-index: 1;
    left: 0;
    top: 40px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}