@using Markdig
@using packages.SyntaxHighlighting
 
<style>
    pre {
        white-space: pre-wrap !important;
    }
</style>

<div style="@CreateMDStyle()">
    @ParseMarkdownToHtml()
</div>

@code {
    [Parameter]
    public string Value { get; set; }

    [Inject]
    private CSSBuilder _cssBuilder { get; set; }

    [Inject]
    private CodeSyntaxStyleSheet _syntaxStylesheet { get; set; }

    private string CreateMDStyle()
        => _cssBuilder.Create()
            .SetPadding(new Spacing(10))
            .Build();

    private MarkupString ParseMarkdownToHtml()
    {
        // https://www.codemag.com/article/1811071/Marking-up-the-Web-with-ASP.NET-Core-and-Markdown
        // https://github.com/xoofx/markdig

        if (string.IsNullOrWhiteSpace(Value))
            return new MarkupString();

        var pipeline = new MarkdownPipelineBuilder()
            .UseAdvancedExtensions()
            .UseSyntaxHighlighting(_syntaxStylesheet)
            .Build();

        var html = Markdown.ToHtml(Value, pipeline);
        return new MarkupString(html);
    }
}