<div style="@CreateContentStyle()">
    <DZGrid ItemAlgin=CSSAlignment.Center>
        @ChildContent
    </DZGrid>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Inject]
    private CSSBuilder _cssBuilder { get; set; }

    private string CreateContentStyle()
        => _cssBuilder.Create()
            .SetPadding(new Spacing(10, 10, 15, 10, CSSSize.Normal))
            .Build();
}
