<div class="@(SuppressHover ? string.Empty : "dz-hover") @(FullWidthOnMobile ? "fullWidthOnMobile" : string.Empty)" style="@CreateCardStyle()" @onclick=OnCardClick>
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public int Width { get; set; }

    [Parameter]
    public bool SuppressHover { get; set; }

    [Parameter]
    public bool FullWidthOnMobile { get; set; } = true;

    [Inject]
    private CSSBuilder _cssBuilder { get; set; }

    private string CreateCardStyle()
        => _cssBuilder.Create()
            .SetBackground(ThemeColor.Surface)
            .SetBorder(4, 0, ThemeColor.Surface)
            .SetShadow(1, 1, 3, "black")
            .SetWidth(Width)
            .Build();

    private async Task OnCardClick()
        => await OnClick.InvokeAsync();
}
