<div class="@_cssClasses" @onclick="@(async () => await Clicked.InvokeAsync(Tone!.Value))">
    @* @if (!(Tone?.IsGroupTone ?? false)) *@
    @* { *@
    @*     <span>@Tone!.Value.Note</span> *@
    @* } *@
</div>