<div class="flex-column gap">

    <div class="lane-preview">
        @if (Song?.Top.FirstOrDefault()?.Notes.Any() ?? false)
        {
            for (var i = 0; i < Song.Top.First().AvailableTicks; i++)
            {
                var note = GetNote(true, i);
                if (note != null)
                {
                    <div class="lane-preview-item" style="height: @((int)note.Note * (note.Segment + 1))px;"></div>
                }

                if (IsJumpAvailable(true, i))
                {
                    <div class="lane-preview-gap" style="width: @(_topGap)px;"></div>
                    i += (_topGap - 1);
                }
                else if (note == null)
                {
                    <div class="lane-preview-empty"></div>
                }
            }
        }
    </div>

    <div class="lane-preview">
        @if (Song?.Bottom.FirstOrDefault()?.Notes.Any() ?? false)
        {
            for (var i = 0; i < Song.Bottom.First().AvailableTicks; i++)
            {
                var note = GetNote(false, i);
                if (note != null)
                {
                    <div class="lane-preview-item" style="height: @((int)note.Note * (note.Segment + 1))px;"></div>
                }

                if (IsJumpAvailable(false, i))
                {
                    <div class="lane-preview-gap" style="width: @(_bottomGap)px;"></div>
                    i += (_bottomGap - 1);
                }
                else if (note == null)
                {
                    <div class="lane-preview-empty"></div>
                }
            }
        }
    </div>
</div>