@if (Song != null)
{
    <div class="flex-row">
        @for (var i = 0; i < Song.Top.Count; i++)
        {
            <div class="flex-column gap">
                <LaneChart @ref="ChartRef" SegmentIdx="i" LaneIdx="0" Value="Song.Top[i]"/>
                <LaneChart @ref="ChartRef" SegmentIdx="i" LaneIdx="1" Value="Song.Bottom[i]"/>
            </div>
        }
    </div>
}