.lane-preview {
    display: block ruby;
    border-bottom-style: dotted;
    border-block-width: 1px;
}

.lane-preview-item {
    background-color: var(--theme-primary);
    width: 10px;
}

.lane-preview-gap {
    height: 1px;
}

.lane-preview-empty {
    width: 5px;
    height: 1px;
}