@if (Value != null)
{
    <div class="@(IsSelected ? "tone-candle-selected" : "tone-candle")"
         style="height: @((int)Value.Value.Note * (Value.Value.Segment + 1))px;">
    </div>
}
else
{
    <div class="tone-candle-empty"></div>
}