@using dominikz.dev.Components.Buttons

<CascadingValue Value="this">
    
    <div class="tab-control">
        @foreach (var page in _pages)
        {
            <div class="tab-control-page">
                <TextButton @ref="Ref" Id="@(page.Id)" Text="@(page.Text)" OnClick="@((_) => CallOnPageChanged(page))" AllowSelection="true"/>
            </div>
        }
    </div>

    @ChildContent

</CascadingValue>