
<div style="@CreateGridStyle()">
    <CascadingValue Value="Spacing">
        @ChildContent
    </CascadingValue>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public int Spacing { get; set; }

    [Parameter]
    public CSSDirection Direction { get; set; } = CSSDirection.Row;

    [Parameter]
    public CSSAlignment ItemAlgin { get; set; } = CSSAlignment.None;

    [Parameter]
    public CSSAlignment TextAlgin { get; set; } = CSSAlignment.None;

    [Parameter]
    public CSSJustifyContent JustifyContent { get; set; } = CSSJustifyContent.None;

    [Parameter]
    public bool Wrap { get; set; } = true;

    [Inject]
    private CSSBuilder _cssBuilder { get; set; }

    private string CreateGridStyle()
       => _cssBuilder.Create()
           .SetFlex(new FlexBox(Direction, Wrap, ItemAlgin, TextAlgin, JustifyContent))
           .Build();
}
