@using dominikz.dev.Components.Files

<div class="flex-row-no-wrap gap">
    
    <FilePicker @bind-Selected="Data.Image" MaxFiles="1" MaxSelectedFiles="1" HideUploadIfCompleted="true" />
    
    <TextBox @bind-Value="Data.Name" />
</div>