
<div class="searchbox">
    <i class="serachbox-icon fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="Search ..." @bind="Value" @bind:event="oninput" @onkeyup="CallOnChanged" />
</div>