
input[type="text"], textarea,
input[type="text"], textarea :hover,
input[type="text"], textarea :focus,
input[type="text"], textarea :active {
    width: 100%;
    background-color: var(--theme-surface);
    color: white;
    box-shadow: none;
    border: none;
    outline: none !important;
    padding: 12px;
    border-radius: 25px;
}

.searchbox {
    display: flex;
    align-items: center;
    background-color: var(--theme-surface);
    border-radius: 25px;
    width: 100%;
}

.serachbox-icon {
    display: flex;
    align-items: center;
    padding-right: 8px;
    padding-left: 8px;
}
