textarea,
textarea:hover,
textarea:focus,
textarea:active {
    width: 100%;
    background-color: var(--theme-surface);
    color: whitesmoke;
    box-shadow: none;
    border: none;
    outline: none !important;
    border-radius: 5px;
    resize: vertical;
}

.container {
    display: flex;
}