
input, textarea,
input, textarea :hover,
input, textarea :focus,
input, textarea :active {
    background-color: var(--theme-surface);
    color: whitesmoke;
    box-shadow: none;
    border: none;
    outline: none !important;
    padding: 12px;
    border-radius: 5px;
}

input:disabled {
    opacity: 0.4;
}
